#container{
    height:600px;
    width:1000px;
    background-color: aliceblue;
    border:2px solid black;
    margin-left:200px;
    display:flex;
    justify-content: space-evenly;
}
h1{
    text-align: center;
}
#container div{
    height:70px;
    width:80px;
    text-align: center;
    
}